.addPhoto__container {
    max-width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 25px;
    border-radius: 10px;
    margin: 20px 20px 0 0;
    z-index: 100;
}
@media screen and (max-width: 500px){
    .popup__container{
        margin: 25px 15px 0;
    }
}