.profile__info {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 901px){
    .profile__info {
        text-align: center;
        margin-bottom: 15px;
        flex-direction: column;
    }
}